body {
    width: 80%;
    margin: auto;
    background: url("./img/Dark-background-lines-rays-points-gray-3840x2400.jpg");
    text-align: center;
    color: white;
}

h1 {
    color: green;
    font-size: 48px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
    margin: 1rem;
    padding: 1rem;
}

form {
    background: url("./img/bg.jpg");
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    height: 600px;
    margin: 1rem;
    padding: 1rem;
}

#champ {
    text-align: start;
    margin: 1rem;
}

